.cell {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
}

table{
    margin-right: auto;
    margin-left: auto;
}

div{
    text-align: center;
}

.timer {
    color: black;
}